---
layout: default
title: Blog
---

<div class="row">
  <div class="large-12 columns ">
    {% for post in paginator.posts %}
      <article>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <small>{{ post.date | date_to_string }}</small>
          </h3>
          {{ post.content }}
      </article>
      <hr />
    {% endfor %}

    <div class="pagination">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class="button tiny" href="/blog">Previous</a>
        {% else %}
          <a class="button tiny" href="/blog/{{ paginator.previous_page }}">Previous</a>
        {% endif %}
      {% endif %}

      <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>
      
      {% if paginator.next_page %}
        <a class="button tiny" href="/blog/{{ paginator.next_page }}">Next</a>
      {% endif %}
    </div>
  </div>
</div>
