---
layout: default
sidebar: true
---

<div class="row">
  <div class="large-12 columns ">
    <article>
      <h3>{{ page.title }} <small>{{ page.date | date_to_string }}</small></h3> {{ content }}
      <hr />
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        var disqus_shortname = 'scottymeuk';
        (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

      </script>
    </article>
    <hr />
  </div>
</div>
