html {
  background: url('../img/scott-libby.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  font-family: 'Roboto Slab', serif;
}

.center {
  width: 400px;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.4rem;
  padding-bottom: 30px;
  box-shadow: 1px 1px 1px #a3a3a3;

  .header {
    background: #e5e5e5;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    padding-top: 20px;
    padding-bottom: 20px;

    .name {
      color: #313F47;
      font-size: 1.7em;
    }

    .sub {
      color: #313F47;
      font-size: 1.0em;
    }
  }

  position: absolute;
  // top:0;
  bottom: 20px;
  // left: 0;
  right: 20px;
  margin: auto;

  text-align: center;

  .details {
    color: #313F47;
    font-size: 0.9em;

    a {
      color: #000;
    }

    .detail {
      padding: 20px;
      border-bottom: 1px dashed #e5e5e5;
    }
  }

  .social {
    padding-top: 25px;;

    .icon {
      a {
        height: 40px;
        width: 40px;
        display: inline-block;

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
